---
title: kiyoshift.xyz - Home
layout: default
---
{% assign my_variable = "hello" %}

<div class="home">
  <div class="post-list">

    {% for post in site.posts %}

    <article class="post-card">
      <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a><time class="post-date">{{ post.date | date: "%d %B %Y" }}</time></h2>
      </header>
      <div class="post-excerpt">
      {{ post.content | truncate: 200, "..."}}
      {% if post.content.size >= 200 %}<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">»</a> 
      {% endif %}
      </div>
      <footer class="post_meta" style="display:none"></footer>
    </article>
    {% endfor %}
    <a href="./archive">Archive</a>
  </div>
</div>

